@import "../../utils/utils.pcss";

@callFn .home-content {
  color: var(--color-pic-desc);
  font-size: px2rem(72);
  font-weight: 600;
}

.sea {
  @mixin bg ./assets/sea.jpg, 0 0, cover;
  height: 500px;
  width: 500px;
}


